<div class="footer-bar">
    <div class="container">
        <ul>
            <li>
                <p>
                    客服电话：400-6186-999
                </p>
            </li>
            <li>
                <p>
                    七天无理由退货
                </p>
            </li>
            <li>
                <p>
                    全国包邮
                </p>
            </li>
        </ul>
    </div>

</div>
<div class="footer">
    <p>九阳股份有限公司 &nbsp;&nbsp;地址：杭州经济开发区下沙街道银海街760号</p>
    <p>Copyright&copy; 2007-2020 Joyoung Co.Ltd &nbsp;&nbsp;鲁ICP备10015959号</p>
</div>