<div class="header">
    <div class="container">
        <p class="welcome lf">欢迎来到九阳商城!</p>
        <div class="rt header-nav">
            <div class="lf" id="login_before_div" style="padding-right:10px;">
                <a href="javascript:void(0)">登陆</a>
            </div>
            <div class="userid lf" id="login_after_div">
                <span>185****1118</span>
                <i class="iconfont icon-jiantou-copy1"></i>
                <ul class="user-options">
                    <li><a href="/dist/view/myOrder/myOrder.html">我的订单</a></li>
                    <li><a href="/dist/view/orderAfterSales.html">售后订单</a></li>
                    <li><a href="/dist/view/myCoupons.html">优惠券</a></li>
                    <li><a href="/dist/view/coupon-exchange.html">优惠码兑换</a></li>
                    <li><a href="/dist/view/manageAdress.html">管理地址</a></li>
                    <li><a class="out" href="javascript:void(0)">退出用户</a></li>
                </ul>
            </div>
            <ul class="lf">
                <li><a href="">九阳商城</a></li>
                <li><a href="">九阳官网</a></li>
                <li><a href="">玖号厨房</a></li>
                <li><a href="">九阳公益</a></li>
            </ul>
        </div>
    </div>
</div>