<div class="modal">
    <div class="login">
        <div class="haventLogin">
            您尚未登录
            <span class="rt close">&times;</span>
        </div>
        <ul>
            <li class="active">微信登陆</li>
            <li>手机登陆</li>
        </ul>
        <div>
            <div class="qr-login">
                <p>
                    <img src="../../../../img/login_qr_code.png" alt="">
                </p>
                <h5>微信扫描二维码登陆</h5>
            </div>
            <div class="tel-login">
                <form>
                    <div class="tel">
                        <i class="iconfont icon-ren"></i>
                        <input type="text" placeholder="请输入手机号">
                        <span>&times;</span>
                    </div>
                    <div class="vali">
                        <input type="text" placeholder="填写手机验证码">
                        <a href="">发送手机验证码</a>
                    </div>
                    <input id="login-submit" type="button" value="立即登录">
                </form>
            </div>
        </div>
    </div>
</div>